@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --color-charcoal: #312E2C;
  --color-raspberry: #7A284E;
  --color-brandy: #854632;
  --color-wenge: #5F564D;
  --color-eggshell: #F3E5D7;
  --color-coffee: #E3DDD7;
  --color-snow: #FFF7FB;
  --color-white: #FFFFFF;
  --primary-font-family: "Outfit";
  --secondary-font-family: "Young Serif";
  font-size: 16px;
}
body {
  font-family: var(--primary-font-family), serif;
  color: var(--color-wenge);
  background-color: var(--color-eggshell);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: unset;
}
h1{
  font-family: var(--secondary-font-family), serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--color-charcoal);
  margin-block: unset;
}
h2 {
  font-family: var(--secondary-font-family), serif;
  color: var(--color-brandy);
  font-weight: 500;
  font-size: 1.75rem;
  margin: 0 0 0 0;
}
h3 {
  color: var(--color-raspberry);
  font-size: 1.25rem;
  margin-block: unset;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-block: unset;
}
.container {
  max-width: 46rem;
  min-width: 250px;
  background-color: var(--color-white);
  border-radius: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 2.5rem 2.5rem;
  margin-block: 7.75rem;
}
.hero {
  max-width: 656px;
  max-height: 300px;
  margin-block: 0 2.5rem;
}
.hero img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
}
.text-body {
  max-width: 41rem;
  width: 100%;
  margin-bottom: 2rem;
}
.text-body:last-child {
  margin-bottom: 0;
}
.text-margin {
  margin-bottom: 1.5rem;
}
.pink-background {
  max-width: 37.5rem;
  padding: 1.75rem;
  border-radius: 15px;
  background-color: var(--color-snow);
}
.pink-background-ul {
  margin: 1rem 0 0 0;
}
.pink-background-li::marker {
  color: hsl(332, 51%, 32%);
  margin-bottom: 5px;
  padding-left: 15px;
}
hr {
  max-width: 656px;
  width: 100%;
  margin: 0 0 2rem 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
table {
  width: 90%;
}
li {
  line-height: 1.5;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1rem;
}
li:last-child {
  margin-bottom: unset;
}
ul, ol {
  font-size: 16px;
  margin: 1.5rem 0 0 0;
  padding: 0 0 0 1.5rem;
}
li::marker {
  color: var(--color-brandy);
  padding-left: 0;
  margin-right: 1.75rem ;
  font-weight: 600;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  border-bottom: 1px inset hsl(30, 10%, 34%);
  line-height: 2.5;
}
tr:last-child {
  border-bottom: none;
}
table tr > *:first-child {
  padding-left: 2rem;
  width: 18rem;
}
.outfit-text-brown-bold {
  color: var(--color-brandy);
  font-weight: bold;
}
@media (max-width: 700px) {
  body {
    margin-inline: 0;
  }
  .container {
    border-radius: unset;
    padding-top: unset;
    margin-block: unset;
  }
  .container > * {
    margin-inline: 2rem;
  }
  .hero {
    margin-inline: unset;
  }
  .hero img {
    border-radius: unset;
  }
  table tr > *:first-child {
    width: 52%;
  }
}