@import url("https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css");
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("footer.css");
@import url("root.css");

:root {
    --bulma-body-color: #33323D;
    --bulma-body-background-color: hsl#fafafa;
    --footer-body-text-color: #FFFFFF;
    --primary-font: "Ibarra Real Nova";
    --secondary-font: "Public Sans";
}

h1 {
    font-family: var(--primary-font), serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.625rem;
    letter-spacing: -0.36px;
}
h2 {
    font-family: var(--primary-font), serif;
    font-size: 2rem;
    letter-spacing: -0.29px;
    line-height: 2.625rem;
}
p {
    font-family: var(--secondary-font), serif;
    font-size: 1rem;
    line-height: 1.875rem;
}
.custom-button {
    border-radius: unset;
    font-size: 0.75rem;
    height: 3rem;
}
/* These values are id's to override bulma's library container. */
#container-1440 {
    max-width: 90rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#container-1110 {
    max-width: 74.375rem;
    padding-inline: 2.5rem;
}
.navbar {
    background-color: var(--bulma-body-background-color);
    margin-block: 2.75rem 5.875rem;
}
.navbar-homepage-margin {
    margin-bottom: 2.125rem;
}
.navbar-end a {
    font-family: var(--secondary-font), serif;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    color: var(--bulma-body-color);
}
/* Gives the logo svg enough space to render */
.navbar-item svg {
    width: 3.8125rem;
    max-height: 2rem;
}
.intro-title-container {
    position: relative;
    margin-bottom: 9.375rem;
}
.intro-title {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    height: 17.375rem;
    width: 32.125rem;
}
.intro-title h1 {
    max-width: 28.625rem;
    margin-top: 3.5rem;
}
@media (min-width: 750px) and (max-width: 900px) {
    .intro-title-container {
        margin-bottom: 6rem;
    }
    .intro-title-container-img {
        content: url("../starter-code/images/homepage/tablet/image-homepage-hero@2x.jpg");
        height: 100%;
    }
}
@media (max-width: 750px) {
    .intro-title-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 6rem;
    }
    .intro-title {
        position: static;
    }
    .intro-title-container-img {
        content: url("../starter-code/images/homepage/mobile/image-homepage-hero@2x.jpg");
    }
}
.jump-link-btn {
    background-color: #203A4C;
    color: #FFFFFF;
    width: 12.5rem;
    height: 3rem;
    margin-top: 3rem;
    border: none;
    border-radius: 0px;
    font-family: var(--secondary-font), serif;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
}
#jump-link-btn-icon {
    width: 3rem;
    height: 3rem;
    background-color: #1D3445;
}
.jump-link-btn :nth-child(2) {
    width: 100%;
}
.homepage-section {
    max-width: 63.437rem;
    display: flex;
    justify-content: space-between;
    max-height: 37.5rem;
}
.homepage-section img {
    height: 37.5rem;
    object-fit: cover;
}
.homepage-section h1 {
    margin-block: 3.125rem 1.75rem;
}
.homepage-section container {
    display: flex;
    flex-wrap: wrap;
    max-width: 21.875rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 4.3125rem;
    padding-bottom: 50px;
}
.homepage-section a {
    width: 202px;
    margin-top: 1.5rem;
}
@media (min-width: 750px) and (max-width: 950px) {
    .homepage-section img {
        content: url("../starter-code/images/homepage/tablet/image-homepage-profile@2x.jpg");
        height: 37.5rem;
        width: 17.526rem;
    } 
}
@media (max-width: 750px) {
    .homepage-section {
        flex-wrap: wrap;
        max-height: none;
    }
    .homepage-section figure {
        max-width: none;
        width: 100%;
        height: auto;
    }
    .homepage-section img {
        content: url("../starter-code/images/homepage/mobile/image-homepage-profile@2x.jpg");
        height: auto;
        margin-bottom: 2rem;
    }
    .homepage-section container {
        max-width: none;
        margin-left: 0px;
    }
}
/* Portfolio page styling */
.portfolio-section {
    display: flex;
    justify-content: space-between;
    min-height: 26.125rem;
    max-height: 31.25rem;
    max-width: 63.437rem;
    margin-bottom: 5rem;
}
.margin-left-auto {
    margin-left: auto;
}
.portfolio-section h1 {
    margin-bottom: 1.75rem;
}
.portfolio-section container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 17.56rem;
    max-width: 21.875rem;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container-left-margin {
    margin-left: 4.3125rem;
}
.container-right-margin {
    margin-right: 4.3125rem;
}
.button-outlined {
    border-radius: unset;
    font-size: 0.75rem;
    height: 3rem;
    width: 176px;
    height: 48px;
    margin-top: 1.5rem;
    letter-spacing: 0.125rem;
}
@media (min-width: 750px) and (max-width: 950px) {
    .portfolio-section figure {
        display: flex;
        align-items: center;
    }
    .portfolio-section p {
        font-size: 0.9375rem;
    }
    .portfolio-manage {
        content: url("../starter-code/images/portfolio/tablet/image-portfolio-manage@2x.jpg");
    }
    .portfolio-bookmark {
        content: url("../starter-code/images/portfolio/tablet/image-portfolio-bookmark@2x.jpg");
    } 
    .portfolio-insure {
        content: url("../starter-code/images/portfolio/tablet/image-portfolio-insure@2x.jpg");
    } 
    .portfolio-fylo {
        content: url("../starter-code/images/portfolio/tablet/image-portfolio-fylo@2x.jpg");
    }  
}
@media (max-width: 750px) {
    .portfolio-section {
        flex-wrap: wrap;
        max-height: none;
        max-width: none;
        margin-bottom: 4.5rem;
    }
    .portfolio-section .container-right-margin {
        order: 1;
    }
    .container-left-margin,
    .container-right-margin {
        margin-inline: 0px 0px;
        margin-top: 2rem;
        padding-block: 1.5rem;
    }
    .portfolio-section container {
        max-width: none;
    }
    .portfolio-manage {
        content: url("../starter-code/images/portfolio/mobile/image-portfolio-manage@2x.jpg");
    }
    .portfolio-bookmark {
        content: url("../starter-code/images/portfolio/mobile/image-portfolio-bookmark@2x.jpg");
    } 
    .portfolio-insure {
        content: url("../starter-code/images/portfolio/mobile/image-portfolio-insure@2x.jpg");
    } 
    .portfolio-fylo {
        content: url("../starter-code/images/portfolio/mobile/image-portfolio-fylo@2x.jpg");
    } 
}
/* Individual portfolio page styling */
.project-hero {
    margin-bottom: 10.36%;
}
.project-body {
    display: flex;
    justify-content: space-between;
}
.project-body p {
    font-size: 0.9375rem;
    margin-top: 1.8125rem;
}
.project-body-intro {
    min-width: 13.75rem;
    width: 21.875rem;
    max-height: 31.125rem;
    height: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.project-body-intro h1 {
    margin-top: 3rem;
}
.green-text {
    color: #5FB4A2;
    font-weight: bold;
    line-height: 2.6rem;
}
.project-body-intro .green-text {
    margin-block: 1.4375rem 0rem;
}
.project-body-background {
    max-width: 39.69rem;
    width: auto;
    margin-left: 4rem;
}
.project-body-background h2:nth-of-type(2) {
    margin-top: 2.5rem;
}
.project-body-background img {
    margin-top: 1.75rem;
}
.project-body-background img:last-of-type {
    margin-top: 2rem;
}
.project-footer {
    margin-top: 4rem;
    height: 8.25rem;
    display: flex;
    justify-content: space-between;
}
.footer-container-left {
    width: 50%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-container-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    text-align: end;
}
.project-footer a {
    display: flex;
    align-items: center;
    color: var(--bulma-body-color);
}
.footer-container-left svg {
    margin-right: 2rem;
    height: 16px;
    width: 10px;
}
.footer-container-right svg {
    margin-left: 2rem;
    height: 16px;
    width: 10px;
}
.project-footer p {
    color: #96969c;
}
@media (max-width: 900px) {
    .project-hero {
        margin-bottom: 2.5rem;
    }
    .project-body {
        flex-wrap: wrap;
    }
    .project-body-intro {
        padding-block: 2rem;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 90px 60px;
    }
    .project-body-intro h1,
    .project-body-intro .green-text,
    .project-body-intro a {
        margin-block: 0px 0px;
    }
    .project-body-intro a {
        align-self: center;
    }
    .project-body-intro .normal-text {
        margin-top: 0px;
        max-height: none;
        height: auto;
        grid-column: 2;
        grid-row: 1 / 4;
        display: flex;
        align-items: start;
    }
    .green-text {
        max-width: 270px;
    }
    .project-body-background {
        margin: 2.5rem 0rem 0rem 0rem;
        max-width: 689px;
        width: auto;
    }
    .project-body-background img:nth-of-type(1) {
        margin-top: 2.5rem;
    }
    .footer-project-block-margin {
        margin-top: 5rem;
    }
    .project-manage-hero img {
        content: url(../starter-code/images/detail/tablet/image-manage-hero@2x.jpg);
    }
    .project-manage-img1 {
        content: url(../starter-code/images/detail/tablet/image-manage-preview-1@2x.jpg);
    }
    .project-manage-img2 {
        content: url(../starter-code/images/detail/tablet/image-manage-preview-2@2x.jpg);
    }
    .project-bookmark-hero img {
        content: url(../starter-code/images/detail/tablet/image-bookmark-hero@2x.jpg);
    }
    .project-bookmark-img1 {
        content: url(../starter-code/images/detail/tablet/image-bookmark-preview-1@2x.jpg);
    }
    .project-bookmark-img2 {
        content: url(../starter-code/images/detail/tablet/image-bookmark-preview-2@2x.jpg);
    }
    .project-fylo-hero img {
        content: url(../starter-code/images/detail/tablet/image-fylo-hero@2x.jpg);
    }
    .project-fylo-img1 {
        content: url(../starter-code/images/detail/tablet/image-fylo-preview-1@2x.jpg);
    }
    .project-fylo-img2 {
        content: url(../starter-code/images/detail/tablet/image-fylo-preview-2@2x.jpg);
    }
    .project-insure-hero img {
        content: url(../starter-code/images/detail/tablet/image-insure-hero@2x.jpg);
    }
    .project-insure-img1 {
        content: url(../starter-code/images/detail/tablet/image-insure-preview-1@2x.jpg);
    }
    .project-insure-img2 {
        content: url(../starter-code/images/detail/tablet/image-insure-preview-2@2x.jpg);
    }
}
@media (max-width: 650px) {
    .project-body-intro {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 85px 50px;
        padding-block: 1.5rem;
        row-gap: 0.5rem;
    }
    .project-body-intro .normal-text {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .project-manage-hero img {
        content: url(../starter-code/images/detail/mobile/image-manage-hero@2x.jpg);
    }
    .project-manage-img1 {
        content: url(../starter-code/images/detail/mobile/image-manage-preview-1@2x.jpg);
    }
    .project-manage-img2 {
        content: url(../starter-code/images/detail/mobile/image-manage-preview-2@2x.jpg);
    }
    .project-bookmark-hero img {
        content: url(../starter-code/images/detail/mobile/image-bookmark-hero@2x.jpg);
    }
    .project-bookmark-img1 {
        content: url(../starter-code/images/detail/mobile/image-bookmark-preview-1@2x.jpg);
    }
    .project-bookmark-img2 {
        content: url(../starter-code/images/detail/mobile/image-bookmark-preview-2@2x.jpg);
    }
    .project-fylo-hero img {
        content: url(../starter-code/images/detail/mobile/image-fylo-hero@2x.jpg);
    }
    .project-fylo-img1 {
        content: url(../starter-code/images/detail/mobile/image-fylo-preview-1@2x.jpg);
    }
    .project-fylo-img2 {
        content: url(../starter-code/images/detail/mobile/image-fylo-preview-2@2x.jpg);
    }
    .project-insure-hero img {
        content: url(../starter-code/images/detail/mobile/image-insure-hero@2x.jpg);
    }
    .project-insure-img1 {
        content: url(../starter-code/images/detail/mobile/image-insure-preview-1@2x.jpg);
    }
    .project-insure-img2 {
        content: url(../starter-code/images/detail/mobile/image-insure-preview-2@2x.jpg);
    }
}
.get-in-touch,
.contact-me {
    max-width: 1110px;
    width: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 3rem;
}
.get-in-touch h1,
.contact-me h1 {
    min-width: 20rem;
}
.get-in-touch p {
    max-width: 39.7rem;
}
.contact-me label {
    font-family: var(--secondary-font), serif;
    font-weight: bold;
    font-size: 0.8125rem;
}
.contact-me-form {
    max-width: 39.7rem;
    width: 100%;
}
.contact-me-form .jump-link-btn {
    margin-top: 1.5rem;
}
.contact-me-form input,
.contact-me-form textarea {
    background-color: #e6e6e7;
    font-family: var(--secondary-font), serif;
    font-size: 0.8125rem;
}
.contact-me-form-textarea {
    height: 12.2rem;
}
.contact-me-svg {
    height: 1.5rem;
    margin-block: 1.5rem 3rem;
}
@media (max-width: 845px) {
    .get-in-touch {
        flex-wrap: wrap;
        padding-block: 2rem;
    }
    .contact-me {
        flex-wrap: wrap;
        padding-top: 2rem;
    }
    .get-in-touch h1,
    .contact-me h1 {
        margin-bottom: 2rem;
    }
    .contact-me-svg {
        margin-bottom: 0px;
    }
}