@import url("https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css");
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("footer.css");
@import url("root.css");

:root {
    --bulma-body-color: #33323D;
    --bulma-body-background-color: hsl#fafafa;
    --footer-body-text-color: #FFFFFF;
}

h1 {
    font-family: "Ibarra Real Nova", serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.625rem;
    letter-spacing: -0.36px;
}
p {
    font-family: "Public Sans", serif;
    font-size: 1rem;
}
.custom-button {
    border-radius: unset;
    font-size: 0.75rem;
    height: 3rem;
}
/* These values are id's to override bulma's library container. */
#container-1440 {
    max-width: 90rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#container-1110 {
    max-width: 73.375rem;
    padding-inline: 2.5rem;
}
.navbar {
    background-color: var(--bulma-body-background-color);
    margin-block: 2.75rem 5.875rem;
}
.navbar-homepage-margin {
    margin-bottom: 2.125rem;
}
.navbar-end a {
    font-family: "Public Sans", serif;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    color: var(--bulma-body-color);
}
/* Gives the logo svg enough space to render */
.navbar-item svg {
    width: 3.8125rem;
    max-height: 2rem;
}
.intro-title-container {
    position: relative;
    max-height: 37.5rem;
    margin-bottom: 9.375rem;
}
.intro-title-container figure {
    height: 37.5rem;
    max-width: 1110px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.intro-title-container figure img {
    height: 37.5rem;
    width: 69.375rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.intro-title {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    height: 17.375rem;
    width: 32.125rem;
}
.intro-title h1 {
    max-width: 28.625rem;
    margin-top: 3.5rem;
}
@media (max-width: 900px) {
    .intro-title-container figure {
        height: 37.5rem;
        max-width: 43rem;
        width: 100%;
        overflow: hidden;
    }
    .intro-title-container figure img {
        content: url(../starter-code/images/homepage/tablet/image-homepage-hero.jpg);
        height: 100%;
        max-width: 43rem;
        overflow: hidden;
        position: relative;
    }
}
.jump-link-btn {
    display: flex;
    justify-content: start;
    background-color: #203A4C;
    color: #FFFFFF;
    width: 12.5rem;
    height: 3rem;
    margin-top: 3rem;
    padding: 0px 0px 0px 0px;
    border: none;
    border-radius: 0px;
}
#jump-link-btn-icon {
    width: 3rem;
    height: 3rem;
    background-color: #1D3445;
    margin-inline: 0px 0px;
}
.jump-link-btn :nth-child(2) {
    width: 100%;
    font-family: "Public Sans", serif;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
}
.homepage-section {
    max-width: 63.437rem;
    display: flex;
    justify-content: space-between;
    max-height: 37.5rem;
}
.homepage-section figure {
    max-width: 33.75rem;
    min-width: 17.562rem;
    width: 100%;
}
.homepage-section img {
    height: 37.5rem;
    object-fit: cover;
}
.homepage-section h1 {
    margin-block: 3.125rem 1.75rem;
}
.homepage-section p {
    line-height: 1.875rem;
    min-width: 21.1875rem;
}
.homepage-section container {
    display: flex;
    flex-wrap: wrap;
    max-width: 21.875rem;
    min-height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 4.3125rem;
    padding-bottom: 50px;
}
.homepage-section a {
    width: 202px;
    margin-top: 1.5rem;
}
@media (max-width: 950px) {
    .homepage-section img {
        content: url("../starter-code/images/homepage/tablet/image-homepage-profile.jpg");
        height: 37.5rem;
        width: 17.526rem;
    }
    .homepage-section figure {
        height: 37.5rem;
        width: 100%;
    } 
}
.portfolio-section {
    display: flex;
    justify-content: space-between;
    min-height: 26.125rem;
    max-height: 31.25rem;
    min-width: 43.06rem;
    max-width: 63.437rem;
    margin-bottom: 5rem;
}
.margin-left-auto {
    margin-left: auto;
}
.portfolio-section figure {
    max-width: 33.75rem;
    min-width: 21.1875rem;
    width: 100%;
}
.portfolio-section img {
    height: 100%;
    /* min-height: 314px;
    min-width: 339px; */
}
.portfolio-section h1 {
    margin-bottom: 1.75rem;
}
.portfolio-section p {
    line-height: 1.875rem;
}
.portfolio-section container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 17.56rem;
    max-width: 21.875rem;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
}
.container-left-margin {
    margin-left: 4.3125rem;
}
.container-right-margin {
    margin-right: 4.3125rem;
}
.portfolio-section a {
    width: 175px;
    height: 48px;
    margin-top: 1.5rem;
}
@media (max-width: 950px) {
    .portfolio-section figure {
        display: flex;
        align-items: center;
    }
    .tablet-minmax {
        max-height: 19.625rem;
        max-width: 21.1875rem;
    }
    .portfolio-manage {
        content: url("../starter-code/images/portfolio/tablet/image-portfolio-manage@2x.jpg");
    }
    .portfolio-bookmark {
        content: url("../starter-code/images/portfolio/tablet/image-portfolio-bookmark@2x.jpg");
    } 
    .portfolio-insure {
        content: url("../starter-code/images/portfolio/tablet/image-portfolio-insure@2x.jpg");
    } 
    .portfolio-fylo {
        content: url("../starter-code/images/portfolio/tablet/image-portfolio-fylo@2x.jpg");
    }  
}