@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("../assets/images/geo-webpage-logo-32px.png");
@import url("./modal.css");

html, body {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    --bulma-block-spacing: 0rem;
}
#container {
    height: 100%;
    min-height: 100vh;
    background-color: #36384D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#card {
    display: flex;
    align-items: center;
    background-color: #F8F8FF;
    border-radius: 36px;
    justify-content: space-between;
}
.content {
    flex: 1 1 auto;
    font-family: "Roboto";
    color: #242742;
    max-width: 23.5em;
    margin: 0 4rem 0 4rem;
}
.image {
    margin: 1.5rem 1.5rem 1.5rem 0;
    border-radius: calc(36px - 1.25rem);
    flex-shrink: 1;
}
#mobile-image {
    display: none;
}
.content h1 {
    color: #242742;
    font-size: 3.5rem;
    font-weight: bold;
    flex-wrap: wrap;
    margin-block-end: 1.5rem;
}
@media screen and (max-width: 900px) {
    #card {
        flex-direction: column;
        width: auto;
        max-width: 100%;
        border-radius: 0px;
    }
    .content {
        flex-grow: 1;
        margin: 2.5rem 1.5rem 2.5rem 1.5rem;
        order: 2;
    }
    .content h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 4rem;
        letter-spacing: 0px;
    }
    .image {
        width: 100%;
        margin: 0;
    }
    #desktop-image {
        display: none;
    }
    #mobile-image {
        display: block;
        width: 100%;
        height: auto;
    }
}
.content p:first-of-type {
    margin-bottom: 1.5rem;
}
.parent-ul {
    list-style-position: outside;
    text-align: center;
}
#ul {
    list-style: none;
    padding: 0;
    margin: 0em 0em 2.5em 0em;
}
li {
    display: flex;
    align-items: center;
    margin: 10px 0; 
}
li::before {
    content: "";
    display: inline-block;
    width: 21px; 
    height: 21px; 
    background-image: url(../assets/images/icon-list.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1em; 
}
form {
    display: flex;
    flex-direction: column;
}
#email-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0.5em;
}
.invalid-email-prompt {
    color: #FF6155;
}
.field-email {
    border-width: 1px;
    border-color: #A7A7AF;
    border-style: ridge;
    background-color: #F8F8FF;
    margin-bottom: 24px;
    padding-left: 35px;
    font-size: 16px;
}
.invalid-email-field {
    background-color: #ffe8e6;
    border-color: #ff857c;
    color: #ff6155;
}
.field-email:focus {
    outline: none;
}
.button-parent-div {
    position: relative;
}
.gradient-background {
    background: linear-gradient(to bottom, #FF6A3A, #FF527B);
    width: 100%;
}
.button-submit {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #242742;
    background: #242742;
    color: white;
    border: none;
    font-weight: 400;
    font-size: 12pt;
    transition: background-color 400ms;
}
.button-parent-div:hover .button-submit {
    background-color: transparent;
}
.field-email, .button-submit, .gradient-background {
    box-sizing: border-box;
    height: 56px;
    border-radius: 8px;
}
.attribution { 
    font-size: 11px; 
    background-color: #36384D;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}