@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/*

Index

    |-- Default Element Styles
    |-- Page Navigation Flag
    |-- Navigation bar
    |-- Home Page 
    |   |-- hero
    |   |-- intro
    |   |-- about Us
    |   |-- featured
    |-- Footer
    |-- Portfolio Page
    |-- About Us Page
    |-- |-- hero
    |-- |-- heritage
    |-- Contact Page

*/

:root {
    --color-dark-blue: #1b1d23;
    --color-dark-grey: #60636d;
    --color-med-grey: #7d828f;
    --color-light-grey: #c8ccd8;
    --color-xlight-grey: #eeeff4;
    --color-white: white;
    --color-error-red: #df5656;
    --bulma-body-background-color: white;
    --hero-img-width: 190px;
}
/*Project default element styles*/
body {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: var(--color-dark-grey);
}
h1, h2, h3, h4 {
    font-weight: bold;
}
h1 {
    font-size: 15.625rem;
    line-height: 12.5rem;
    letter-spacing: -5px;
    color: var(--color-xlight-grey);
}
h2 {
    font-size: 6rem;
    line-height: 5rem;
    letter-spacing: -2px;
    color: var(--color-dark-blue);
}
h3 {
    font-size: 4.5rem;
    line-height: 4rem;
    letter-spacing: -2px;
    color: var(--color-dark-blue);
}
h4 {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0;
    color: var(--color-dark-blue);
}
.standard-button, .small-button {
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-weight: bold;
    line-height: 1.5625rem;
    background: var(--color-dark-blue);
}
.standard-button {
    height: 4.5rem;
    transition: background-color 400ms;
    justify-content: space-between;
    padding: 1.5626rem 2rem 1.375rem 2.1875rem;
    max-width: fit-content;
}
.standard-button span {
    margin-right: 1.5rem;
    width: max-content;
}
.small-button {
    height: 5rem;
    width: 5rem;
    transition: background-color 400ms;
}
#outer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90rem;
    width: 100%;
    overflow: hidden;
}
#inner-container {
    position: relative;
    max-width: 88.9375rem;
    width: 100%;
    padding-inline: clamp(6.0625rem, 12vw, 9.78125rem) clamp(6.125rem, 12vw, 9.78125rem);
    overflow: hidden;
}
.border-top-left {
    position: relative;
}
.border-top-left::after {
    content: "";
    height: 1px;
    width: 4.0625rem;
    position: absolute;
    top: 0;
    background-color: var(--color-light-grey);
}
/*Default element responsiveness*/
@media (max-width: 768px) {
    #inner-container {
        padding-inline: 0;
    }
}
/*Default element animations*/
.standard-button:hover, .small-button:hover {
    background-color: var(--color-dark-grey);
}
.standard-button:active, .small-button:active {
    background-color: var(--color-light-grey);
}
/*Page navigation flag*/
.page-navigation-label {
    display: flex;
    position: absolute;
    left: clamp(44px, 7.5vw, 87px);
    max-height: 1.5rem;
    max-width: fit-content;
    transform: rotate(90deg);
    transform-origin: top left;
}
.page-navigation-label span {
    display: block;
    width: 6.5rem;
    height: 1px;
    background: var(--color-light-grey);
    align-self: center;
}
.page-navigation-label p {
    color: var(--color-light-grey);
    letter-spacing: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin: 0 0 0 3rem;
}
/*Page navigation flag responsiveness*/
@media (max-width: 768px) {
    .page-navigation-label {
        display: none;
        margin-left: unset;
    }
}
/*Navigation bar*/
.navbar {
    color: var(--color-med-grey);
    background-color: var(--color-white);
    margin: 3.5rem 0 3.5rem 0;
}
.navbar-brand a:first-child {
    height: 2.5rem;
    width: 6.01rem;
    padding: 0;
}
.navbar svg {
    max-height: unset;
    width: 100%;
    height: 100%;
}
.navbar-start {
    margin-inline-start: 5.93rem;
    max-width: 19.56rem;
    width: 100%;
    display: flex;
}
.navbar-start .navbar-item {
    padding: 0;
    font-weight: bold;
    line-height: 1.5625rem;
    display: flex;
    align-items: center;
    color: var(--color-med-grey);
}
.navbar-menu {
    box-shadow: unset;
    background-color: var(--color-white);
    width: 100%;
    padding: 0;
}
:is(.navbar, .navbar-brand, .navbar-burger, .navbar-end, .navbar-menu, .navbar-item, .navbar-start) {
    min-height: 2.5rem;
}
/*Navigation bar responsiveness*/
@media (min-width: 769px) {
    .navbar-brand {
        margin-inline-start: unset !important; /*Override bulma*/
    }
    .navbar, .navbar-end, .navbar-menu, .navbar-start {
        align-items: stretch;
        display: flex;
    }
    .navbar-start {
        justify-content: space-between;
    }
    .navbar-menu {
        display: flex !important;
    }
    .navbar-burger {
        display: none;
    }
}
@media (max-width: 768px) {
    .navbar {
        position: relative;
        padding-inline: 2rem;
        margin-block: 2rem;
    }
    .navbar-menu {
        position: absolute;
        top: 4.5rem;
        right: 0;
        background-color: var(--color-xlight-grey);
        max-width: 21.4375rem;
    }
    .navbar-start {
        width: fit-content;
        flex-direction: column;
        margin: 2.5rem 0 2.625rem 3rem;
    }
    .navbar-start .navbar-item {
        font-size: 2rem;
        font-weight: bold;
        color: var(--color-dark-blue);
        line-height: 2.5rem;
        letter-spacing: 0;
        margin-block-end: 1.0625rem;
    }
    .navbar-start a:last-child {
        margin-block-end: unset;
    }
    .navbar-burger {
        position: absolute;
        right: 1.375rem;
        height: 2.5rem;
        width: fit-content;
        margin: unset;
    }
    .anchor::after {
        display: none;
        position: absolute;
        top: 6.5rem;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .anchor.active:after {
        display: block;
    }
}
/*Navigation bar states*/
.navbar a {
    transition: color 400ms;
}
.navbar a:hover {
    background-color: unset;
    color: var(--color-dark-blue);
}
/*Navigation bar hamburger animation*/
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--color-dark-blue);
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham6 .top {
    stroke-dasharray: 40 172;
}
.ham6 .middle {
    stroke-dasharray: 40 111;
}
.ham6 .bottom {
    stroke-dasharray: 40 172;
}
.ham6.active .top {
    stroke-dashoffset: -132px;
}
.ham6.active .middle {
    stroke-dashoffset: -71px;
}
.ham6.active .bottom {
    stroke-dashoffset: -132px;
}
/*Home page hero*/
.hero {
    margin: 0 0 195px 0;
    position: relative;
}
.hero-img {
    height: 45rem;
    object-fit: cover;
}
.image-filter {
    position: relative;
    width: fit-content;
}
.image-filter:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.hero-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-height: 22.1875rem;
    height: 100%;
    margin-block: 186px 179px ;
    margin-left: var(--hero-img-width);
}
.hero-text h2 {
    max-width: 31.25rem;
    color: var(--color-white);
}
.hero-text p {
    max-width: 27.8rem;
    color: var(--color-white);
    letter-spacing: 0px;
}
.hero-text h2 {
    margin-bottom: 10px;
}
.hero-text a {
    margin-top: auto;
}
.hero .pagination {
    position: absolute;
    left: -5rem;
    background-color: var(--color-dark-blue);
    width: fit-content;
    margin: 40rem 0 0 0;
}
.pagination-link {
    width: 5rem;
    height: 5rem;
    margin: unset;
    padding: unset;
    border: unset;
    box-shadow: unset;
    border-radius: unset;
    background-color: var(--color-white);
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--color-med-grey);
    line-height: 25px;
}
.is-current {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}
/*Home page hero responsiveness*/
@media (max-width: 1150px) {
    #homepage-hero {
        margin-bottom: 248px;
    }
}
@media (max-width: 768px) {
    .hero {
        margin-bottom: 4.5rem;
    }
    .hero-text {
        margin: 116px 0 auto 0;
        padding-left: clamp(2rem, 6.25vw, 3.625rem);
        padding-right: clamp(2rem, 6.25vw, 3.625rem);
        max-height: 20.875rem;
        max-width: 21.4375rem;
    }
    .hero-text h2 {
        font-size: 3rem;
        letter-spacing: -1.2px;
        line-height: 3rem;
    }
    #homepage-hero {
        margin-bottom: 4.5rem;
    }
    .hero-img {
        display: block;
        height: 35rem;
    }
}
@media (max-width: 1024px) {
    .hero .pagination {
        display: none;
    }
}
@media (max-width: 375px) {
    #hero-img {
        content: url("../assets/home/mobile/image-hero-paramour.jpg");
    }
}
/*Home page hero animations*/
:is(.pagination-link:hover):not(.is-current) {
    background-color: var(--color-light-grey);
}
:is(.pagination-link:active):not(.is-current) {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}
/*Home page intro*/
.intro {
    position: relative;
    min-height: 35.5rem;
    display: flex;
    width: 100%;
    margin: 0 0 12.5rem 0;
}
.welcome-text {
    z-index: 2;
    height: unset;
    width: 27.875rem;
    margin: auto 7.8125rem 0.6875rem 11.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro .welcome-text h3 {
    margin-bottom: 2.7rem;
} 
.welcome-text p {
    width: 27.875rem;
}
.welcome-title {
    position: absolute;
    top: -5.4375rem;
    font-size: clamp(12.5rem, 20vw, 15.625rem);
    line-height: 12.5rem;
    letter-spacing: -5px;
    margin: 0 0 0 auto;
}
.welcome-img {
    min-width: 21.875rem;
    height: 35.5rem;
}
.welcome-img img {
    width: 100%;
}
/*Home page intro responsiveness*/
@media (max-width: 85rem) {
    .welcome-text {
        margin-inline: auto;
    }
}

@media (min-width: 769px) and (max-width: 1150px) {
    .intro {
        flex-direction: column;
        margin-bottom: 13.94rem;
        height: unset;
    }
    .welcome-title {
        font-family: "Spartan", sans-serif;
        top: -10.3125rem;
        font-size: 8.6rem;
        letter-spacing: -3px;
        margin: unset;
    }
    .welcome-text {
        margin: unset;
        width: 27.875rem;
        height: unset;
        justify-content: unset;
    }
    .welcome-text h3 {
        max-width: 27.875rem;
        margin-bottom: 2.6875rem;
    }
    #homepage-welcome-img {
        display: none;
    }
}

@media (max-width: 768px) {
    .intro {
        margin: 0 2rem 7.06rem 2rem;
        min-height: 39.1875rem;
        width: unset;
        position: relative;
    }
    .intro:after {
        content: "";
        height: 1px;
        width: 4.0625rem;
        position: absolute;
        top: 0;
        background-color: var(--color-light-grey);
    }
    .welcome-title {
        display: none;
    }
    .welcome-text {
        max-width: 19.44rem;
        margin: 4.25rem 0 0 0;
    }
    .welcome-text h3 {
        font-size: 3rem;
        line-height: 3.25rem;
        letter-spacing: -1.7px;
        margin-bottom: 1.375rem;
    }
    .welcome-text p {
        width: unset;
    }
    .welcome-img {
        display: none;
    }
}
/*Home page about us*/
.about-us {
    position: relative;
    margin: 0 0 12.5rem 0;
}
.about-us .image-filter {
    height: 35rem;
}
#about-us-img {
    object-fit: cover;
    height: 35rem;
}
.about-us .hero-text {
    top: 0;
    max-height: 225px;
    max-width: 34.375rem;
    margin-top: 167px;
}
.about-us .hero-text h3 {
    max-width: 25rem;
}
.white-h3 {
    color: var(--color-white);
}
/*Home page about us responsiveness*/
@media (max-width: 768px) {
    .about-us {
        margin-bottom: 73px;
    }
    .about-us .image-filter {
        width: fit-content;
    }
    .about-us .hero-text {
        margin-top: 181px;
    }
    .about-us .hero-text h3 {
        font-size: 3rem;
        line-height: 52px;
    }
    .about-us .hero-text a {
        margin-top: 23px;
    }
}

@media (max-width: 375px) {
    #about-us-img {
        content: url("../assets/home/mobile/image-small-team.jpg");
    }
}
/*Home page featured*/
.featured-header {
    margin-bottom: 64px;
}
.featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1.875rem;
    margin: 0 0 12.5rem 0;
}
.featured-container {
    position: relative;
    overflow: hidden;
    flex: 1;
}
.featured-header h3 {
    display: block;
    height: 3.25rem;
    margin-top: 10px;
}
.featured-grid .image-filter {
    max-height: 35rem;
    overflow: hidden;
}
.featured-grid .image-filter:after {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.featured-grid .hero-text {
    margin: 0 10px 39px 2.5rem;
    bottom: 0;
    height: unset; 
}
.featured-grid .image-filter img {
    width: 100%;
    height: auto;
    display: block;
}
.featured-grid .hero-text h4{
    color: var(--color-white);
}
.featured-grid .hero-text p {
    opacity: 75%;
}
.featured-number {
    position: absolute;
    text-align: right;
    top: 45px;
    right: -15px;
    opacity: 0.5;
}
/*Home page featured animation*/
.featured-grid .featured-container:hover .featured-img {
    transition: transform .4s ease-out;
    transform: scale(1.05);
}
.featured-grid .featured-container .featured-img {
    transition: transform .3s ease-in;
    transform: scale(1);
}
/*Home page featured responsiveness*/
@media (max-width: 1024px) {
    .featured-header {
        margin-bottom: 85px;
    }
    .featured-grid {
        grid-template-columns: unset;
        row-gap: 1.5rem;
    }
    .featured-number {
        top: 29px;
        right: 23px;
    }
    .featured-container .image-filter {
        max-height: unset;
        width: 100%;
    }
    #featured-img-1 {
        content: url("../assets/portfolio/tablet/image-del-sol.jpg");
    }
    #featured-img-2 {
        content: url("../assets/portfolio/tablet/image-228b.jpg");
    }
    #featured-img-3 {
        content: url("../assets/portfolio/tablet/image-prototype.jpg");
    }
}
@media (max-width: 768px) {
    .featured {
        position: relative;
        padding-inline: 32px;
        margin-bottom: 228px;
    }
    .featured-header {
        margin-bottom: 2.6875rem;
    }
    .featured-header h3 {
        font-size: 3rem;
        line-height: 52px;
        letter-spacing: -1.71px;
    }
    .featured-container .hero-text {
        margin: 0 0 23px 24px;
        padding: unset;
    }
    #featured-button {
        position: absolute;
        bottom: -96px;
        left: 32px;
        width: calc(100vw - 64px);
        max-width: unset;
    }
    .featured-number {
        display: none;
    }
    #featured-img-1 {
        content: url("../assets/portfolio/mobile/image-del-sol.jpg");
    }
    #featured-img-2 {
        content: url("../assets/portfolio/mobile/image-228b.jpg");
    }
    #featured-img-3 {
        content: url("../assets/portfolio/mobile/image-prototype.jpg");
    }
}
/*Footer*/
footer {
    width: 100%;
    margin-inline: clamp(97px, 12vw, 10.3125rem) clamp(98px, 12vw, 10.3125rem);
    display: flex;
}
.footer-logo {
    background-color: var(--color-dark-blue);
    padding: 5rem 3.25rem 5rem 3.25rem;
    display: flex;
    max-width: 12.5rem;
}
.footer-logo a {
    padding: unset;
}
.footer-body {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0 0 clamp(2.5rem, 6vw, 85px);
    margin-right: 126px;
    width: 100%;
    background-color: var(--color-xlight-grey);
}
.footer-menu {
    display: flex;
}
.footer-menu a {
    margin: unset;
    font-weight: bold;
    color: var(--color-med-grey);
}
.footer-body .navbar-item {
    padding: unset;
}
.footer-menu a:nth-child(2) {
    margin: 0 51px 0 61px;
}
.footer-end {
    position: absolute;
    right: -126px;
}
/*Footer responsiveness*/
@media (max-width: 1150px) {
    footer {
        margin-inline: unset;
    }
    .footer-logo {
        padding: 49px 32px 47px 32px;
        max-width: 120px;
    }
    .footer-logo svg {
        width: 58px;
        height: 24.13px;
    }
    .footer-body {
        padding: 0 0 0 clamp(2.5rem, 3.5vw, 85px);
    }
}
@media (max-width: 768px) {
    :is(footer, .footer-body, .footer-menu) {
        flex-direction: column;
    }
    footer {
        position: relative;
    }
    .footer-logo {
        z-index: 2;
        position: absolute;
        top: -60px;
        left: calc(50% - 60px);
    }
    .footer-body {
        padding: 93px 0 0 0;
    }
    .footer-menu {
        width: 4.5rem;
        align-items: center;
        gap: 2rem;
    }
    .footer-menu a:nth-child(2) {
        margin: unset;
    }
    .footer-end {
        position: static;
        margin-block: 31px 3rem;
    }
}
/*Portfolio page*/
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(12.5rem, 1fr));
    column-gap: 1.875rem;
    row-gap: 32px;
    margin-bottom: 10rem;
}
.portfolio-img {
    display: block;
    width: 100%;
}
.portfolio-grid .image-filter {
    width: fit-content;
}
.portfolio-grid .image-filter:after {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.portfolio-grid .featured-container .hero-text {
    bottom: 0;
    left: 0;
    margin: 0 0 39px 2.5rem;
    height: unset;
}
.portfolio-grid .featured-container .hero-text h4 {
    color: var(--color-white);
}
/*Portfolio page card animation*/
.portfolio-grid .featured-container:hover .portfolio-img {
    transition: transform .4s ease-out;
    transform: scale(1.05);
}
.portfolio-grid .featured-container .portfolio-img {
    transition: transform .3s ease-in;
    transform: scale(1);
}
/*Portfolio page responsiveness*/
@media (max-width: 1024px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
    .portfolio-grid .image-filter {
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    #portfolio-seraph {
        content: url("../assets/portfolio/tablet/image-seraph.jpg");
    }
    #portfolio-eebox {
        content: url("../assets/portfolio/tablet/image-eebox.jpg");
    }
    #portfolio-federal {
        content: url("../assets/portfolio/tablet/image-federal.jpg");
    }
    #portfolio-sol {
        content: url("../assets/portfolio/tablet/image-del-sol.jpg");
    }
    #portfolio-prototype {
        content: url("../assets/portfolio/tablet/image-prototype.jpg");
    }
    #portfolio-228b {
        content: url("../assets/portfolio/tablet/image-228b.jpg");
    }
    #portfolio-edelweiss {
        content: url("../assets/portfolio/tablet/image-edelweiss.jpg");
    }
    #portfolio-netcry {
        content: url("../assets/portfolio/tablet/image-netcry.jpg");
    }
    #portfolio-hypers {
        content: url("../assets/portfolio/tablet/image-hypers.jpg");
    }
    #portfolio-sxiv {
        content: url("../assets/portfolio/tablet/image-sxiv.jpg");
    }
    #portfolio-trinity {
        content: url("../assets/portfolio/tablet/image-trinity.jpg");
    }
    #portfolio-paramour {
        content: url("../assets/portfolio/tablet/image-paramour.jpg");
    }
}
@media (max-width: 768px) {
    .portfolio-grid {
        margin-inline: 32px;
    }
    #portfolio-seraph {
        content: url("../assets/portfolio/mobile/image-seraph.jpg");
    }
    #portfolio-eebox {
        content: url("../assets/portfolio/mobile/image-eebox.jpg");
    }
    #portfolio-federal {
        content: url("../assets/portfolio/mobile/image-federal.jpg");
    }
    #portfolio-sol {
        content: url("../assets/portfolio/mobile/image-del-sol.jpg");
    }
    #portfolio-prototype {
        content: url("../assets/portfolio/mobile/image-prototype.jpg");
    }
    #portfolio-228b {
        content: url("../assets/portfolio/mobile/image-228b.jpg");
    }
    #portfolio-edelweiss {
        content: url("../assets/portfolio/mobile/image-edelweiss.jpg");
    }
    #portfolio-netcry {
        content: url("../assets/portfolio/mobile/image-netcry.jpg");
    }
    #portfolio-hypers {
        content: url("../assets/portfolio/mobile/image-hypers.jpg");
    }
    #portfolio-sxiv {
        content: url("../assets/portfolio/mobile/image-sxiv.jpg");
    }
    #portfolio-trinity {
        content: url("../assets/portfolio/mobile/image-trinity.jpg");
    }
    #portfolio-paramour {
        content: url("../assets/portfolio/mobile/image-paramour.jpg");
    }
}
/*About us page hero*/
.about-us-hero .image-filter {
    width: fit-content;
}
.about-us-hero .hero-text {
    justify-content: end;
    align-items: end;
    margin: unset;
    bottom: 0;
    right: 0;
    background-color: var(--color-white);
    max-height: unset;
    height: clamp(431px, 35vw, 503px);
    width: clamp(515px, 50vw, 628px);
}
.about-us-hero h1 {
    position: absolute;
    top: -85px;
    font-size: clamp(110px, 17.5vw, 15.625rem);
    font-weight: 600;
}
#about-us-hero-subtitle {
    max-width: 27.875rem;
    max-height: 21.3rem;
    height: 100%;
}
#about-us-hero-subtitle h3 {
    margin-block: 58px 49px;
}
#about-us-hero-subtitle p {
    color: var(--color-dark-grey);
}
/*About us page hero responsiveness*/
@media (min-width: 769px) and (max-width: 1024px) {
    .about-us-hero h1 {
        font-size: 11.25rem;
        letter-spacing: -3px;
    }
    .about-us-hero .hero-text {
        height: 431px;
    }
}
@media (max-width: 768px) {
    .about-us-hero {
        height: fit-content;
        margin-bottom: 4.75rem;
    }
    .about-us-hero .hero-text {
        position: static;
        align-items: start;
        padding: unset;
        margin: 1.25rem 2rem 0 2rem;
        max-width: unset;
        width: unset;
        height: fit-content;
    }
    #about-us-hero-subtitle {
        max-width: unset;
    }
    #about-us-hero-subtitle p {
        max-width: unset;
    }
    #about-us-hero-subtitle h3 {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1.2px;
        margin-block: 1.25rem;
    }
    .about-us-hero .hero-text h1 {
        display: none;
    }
    .about-us-hero .hero-img {
        min-height: 15em;
        height: unset;
        width: 100%;
    }
    .about-us-hero .hero-text h3::after {
        position: absolute;
        content: "";
        top: -65px;
        right: 0;
        background-color: var(--color-white);
        height: 45px;
        width: calc(100vw - 32px);
    }
    .about-us-hero .border-top-left::after {
        display: none;
    }
    #about-us-hero-img {
        content: url("../assets/about/mobile/image-hero.jpg");
    }
}
@media (max-width: 375px) {
    #about-us-hero-img {
        content: url("../assets/about/mobile/image-hero.jpg");
    }
}
/*About us page heritage*/
.heritage {
    position: relative;
    height: 35.5rem;
    display: flex;
    width: 100%;
    margin: 0 0 12.5rem 0;
}
.heritage .welcome-text {
    margin: 0 32px 0 0;
}
.heritage .welcome-img {
    margin-left: auto;
}
.heritage :is(p, h3) {
    max-width: 27.875rem;
    width: unset;
}
.heritage .welcome-text h3 {
    margin-block: clamp(2.5rem, 5.8vw, 83px) clamp(1.875rem, 3.6vw, 51px);
}
.heritage .welcome-img img {
    height: 35.5rem;
    object-fit: cover;
}
/*About us page heritage responsiveness*/
@media (max-width: 1024px) {
    .heritage {
        height: unset;
    }
    .heritage .welcome-img {
        display: none;
    }
    .heritage .welcome-text {
        width: unset ;
        height: unset;
    }
    .heritage .welcome-text :is(p) {
        width: unset;
        max-width: unset;
    }
    .heritage .welcome-text h3 {
        margin-block: 49px 62px;
        max-width: 17.25rem;
    }
}
@media (max-width: 768px) {
    .heritage {
        margin-bottom: 112px;
        height: unset;
    }
    .heritage .welcome-text {
        padding-inline: 32px;
        max-width: unset;
    }
    .heritage .welcome-text h3 {
        margin-block: 69px 1.375rem;
    }
    .border-top-left::after {
        left: 32px;
    }
}
/*About us page leaders */
.arch-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 63px 1.875rem;
    margin-bottom: 10rem;
}
.arch-grid h3 {
    grid-row: 1 / 3;
    max-width: 11.25rem;
}
/*About us page leaders responsiveness*/
@media (min-width: 601px) and (max-width: 1024px) {
    .arch-grid {
        grid-template-columns: repeat(2, minmax(15em, 1fr));
        gap: 103px 0.6875rem;
        margin-bottom: 15em;
    }
    .arch-grid h3 {
        grid-row: unset;
        grid-column: 1 / 3;
    }
}
@media (max-width: 768px) {
    .arch-grid {
        padding-inline: 32px;
    }
}
@media (max-width: 600px) {
    .arch-grid {
        grid-template-columns: 1fr;
        margin-bottom: 10.625rem;
    }
    .arch-grid h3 {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1.7px;
        grid-column: unset;
    }
    .arch-grid img {
        width: 100%;
    }
}
/*Contact page*/
#contact-grid {
    grid-template-columns: repeat(3, minmax(12.5rem, 1fr));
}
.contact-card {
    min-width: 17.25rem;
    font-weight: 500;
}
#contact-grid h3 {
    grid-row: 1 / 3;
}
#contact-grid :is(:nth-child(3), :nth-child(5)) {
    grid-row: 2 / 3;
}
.view-map {
    color: var(--color-dark-blue);
    font-weight: bold;
}
#contact-grid {
    margin-bottom: 12.5rem;
}
.leaflet-map {
    margin-bottom: 10.3125rem;
}
#map {
    width: 100%;
    max-height: 35rem;
    height: 35rem;
}
/*Contact page resposiveness*/
@media (max-width: 1100px) {
    #contact-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.625rem;
    }
    #contact-grid h3 {
        grid-column: 1 / 3;
    }
    #contact-grid :is(:nth-child(3), :nth-child(5)) {
        grid-row: unset;
        align-self: center;
    }
}
@media (max-width: 768px) {
    #contact-grid {
        grid-template-columns: 1fr;
        grid-gap: 2.5rem;
        margin-bottom: 4.375rem;
    }
    #contact-grid h3 {
        grid-column: unset;
    }
    #contact-grid :is(:nth-child(3), :nth-child(5)) {
        grid-row: unset;
        align-self: center;
    }
    .leaflet-map {
        margin-bottom: 75px;
    }
    #map  {
        height: 367px;
        width: unset;
    }
    #contact-hero-img {
        content: url("../assets/contact/mobile/image-hero.jpg");
    }
}
/*Contact Me form*/
.connect {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2.6875rem 1.875rem;
    margin-bottom: 10rem;
    position: relative;
}
.connect h3 {
    grid-row: 1 / 4;
}
.connect .field {
    margin-bottom: unset;
}
.connect :is(.input, .textarea) {
    background-color: white;
    color: var(--color-dark-blue);
    font-size: 1.25rem;
    font-weight: bold;
    border: unset;
    border-radius: unset;
    border-bottom: solid 1px var(--color-dark-blue);
    box-shadow: unset;
}
.connect :is(.input, .textarea)::placeholder {
    color: var(--color-light-grey);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
    padding-left: 12px;
}
.connect :is(.input, .textarea):focus {
    border-bottom: solid 3px var(--color-dark-blue);
}
.error-input {
    border-bottom: solid 1px var(--color-error-red) !important;
}
.error-input:focus {
    border-bottom: solid 3px var(--color-error-red) !important;
}
.control {
    position: relative;
}
.control .help {
    position: absolute;
    bottom: 1.0625rem;
    right: 1rem;
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--color-error-red);
    letter-spacing: -0.18px;
    margin: unset;
}
.connect .small-button {
    position: absolute;
    bottom: -5rem;
    right: 0;
}
/*Contact us form responsiveness*/
@media (max-width: 1100px) {
    .connect {
        grid-template-columns: 1fr;
    }
    .connect h3 {
        width: unset;
        max-width: unset;
        grid-row: unset;
    }
}
@media (max-width: 768px) {
    .connect {
        padding-inline: 32px;
    }
    .connect .small-button {
        right: 32px;
    }
    .connect h3 {
        font-size: 48px;
    }
}