.hide {
  display: none !important;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#container {
  width: 100vw;
  height: 100vh;
  background-color: #36384D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-form {
  min-width: 700px;
  aspect-ratio: 3 / 2;
  display: flex;
  align-items: center;
  background-color: #D7D7DB;
  border-radius: 36px;
  justify-content: space-between;
  flex-shrink: 1;
}
.content {
  min-width: 376px;
  max-width: 42.5%;
  margin: 0 64px 0 64px;
  font-family: "Roboto";
  color: #242742;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 16pt;
  line-height: 150%;
}
.text h1 {
  font-size: 50pt;
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
li {
  list-style-image: url(./assets/images/icon-list.svg);
}
label {
  font-size: 12pt;
  font-weight: 600;
}
.image {
  height: 92.5%;
  min-width: 400px;
  margin: 24px 24px 24px 0px;
}
img {
  width: 100%;
  height: 100%;
}
#field-email {
  border-width: 1px;
  border-color: #A7A7AF;
  border-style: ridge;
  background-color: #D7D7DB;
  padding-left: 35px;
  font-size: 16px;
}
input:focus {
  outline-width: 1px;
}
#emailErrorMessage {
  margin: 0 0 0 0;
  font-size: 12pt;
  padding-left: 10px;

}
input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}
#button-submit {
  background-color: #242742;
  color: white;
  border: none;
  font-weight: 400;
}
#field-email, #button-submit {
  height: 56px;
  border-radius: 8px;
}
.card-success {
  height: 520px;
  width: 500px;
  aspect-ratio: 1/1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
}
.card-success-container {
  height: 100%;
  width: 75%;
  font-family: "Roboto";
  color: #242742;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#check-mark {
  max-width: 64px;
}
.card-success-container {
  width: 75%;
}
.card-success-container h1 {
  font-size: 44pt;
  margin: 0;
  line-height: 100%;
  font-weight: 700;
}
.card-success-container p {
  font-size: 13.5pt;
  font-weight: 400;
  margin: 0;
}
.card-success-container button {
  height: 56px;
  border-radius: 8px;
  border: none;
  background-color: #242742;
  color: white;
  font-weight: 500;
  font-size: 12pt;
}

.attribution { 
  font-size: 11px; 
  background-color: #36384D;
}
.attribution a { 
  color: hsl(228, 45%, 44%);
 }

 @media screen and (max-width: 600px) {
    .card-form {
        width: 100%;
        aspect-ratio: 3 / 2;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: #D7D7DB;
        border-radius: 36px;
        justify-content: space-between;
        flex-shrink: 1;
    }
    img {
        height: 33vh;
    }
    .content {
        min-width: 376px;
        max-width: 42.5%;
        margin: 0 64px 0 64px;
        font-family: "Roboto";
        color: #242742;
        word-wrap: break-word;
        font-weight: 400;
        font-size: 16pt;
        line-height: 150%;
    }
 }
