.hide {
  display: none;
}
html, body {
  margin: 0;
  padding: 0;
}
#container {
  width: 100vw;
  height: 100vh;
  background-color: #36384D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  min-width: 700px;
  aspect-ratio: 3 / 2;
  display: flex;
  align-items: center;
  background-color: #D7D7DB;
  border-radius: 36px;
  justify-content: space-between;
  flex-shrink: 1;
}
.content {
  min-width: 376px;
  max-width: 42.5%;
  margin: 0 64px 0 64px;
  font-family: "Roboto";
  color: #242742;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 16pt;
  line-height: 150%;
}
h1 {
  font-size: 56pt;
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 12pt;
  font-weight: 600;
}
.image {
  height: 92.5%;
  min-width: 400px;
  margin: 24px 24px 24px 0px;
}
img {
  width: 100%;
  height: 100%;
}
#field-email {
  border-width: 1px;
  border-color: #A7A7AF;
  border-style: ridge;
  background-color: #D7D7DB;
  margin-bottom: 24px;
  padding-left: 35px;
  font-size: 16px;
}

#button-submit {
  background-color: #242742;
  color: white;
  border: none;
  font-weight: 400;
}
#field-email, #button-submit {
  height: 56px;
  border-radius: 8px;
}
.attribution { 
  font-size: 11px; 
  background-color: #36384D;
}
.attribution a { 
  color: hsl(228, 45%, 44%);
 }
