:root {
    --background-color: #191921;
    --container-color: #313140;
    --brand-blue: #3CBEFF;
    --brand-light-blue: #EBF8FF;
    --brand-blue-hover: #ADE4FF;
    --brand-blue-disabled: rgba(60, 190, 255, 0.25);
    --link-border-color: red;
    --link-background-color: var(--brand-light-blue);
    --link-font-color: var(--background-color);
}

@font-face {
    font-family: "Instrument Sans";
    src: url("../assets/fonts/InstrumentSans-VariableFont_wdth\,wght.ttf");
    font-weight: 100 900;
    font-style: normal;
}

:is(*, *::after, *::before) {
    box-sizing: border-box;
}

body {
    font-family: "Instrument Sans", serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: unset;
    background-color: var(--background-color);
    line-height: 1.5;
    color: var(--brand-light-blue);
}
h1, h2, a, p {
    margin: unset;
}
h1 {
    font-weight: bold;
    font-size: 2rem;
}
h2 {
    font-weight: bold;
    font-size: 1rem;
}
a {
    display: flex;
    align-items: center;
    color: var(--brand-light-blue);
}
button, a {
    font-family: "Instrument Sans", serif;
}
.container {
    width: min(90rem, 100% - 3rem);
    padding-block: 1.5rem;
    background-color: var(--background-color);
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1.52854fr;
}
.container > * {
    background-color: var(--container-color);
    border-radius: 0.75rem;
}
.inactive {
    display: none !important;
}
.button {
    padding: 11px 27px 11px 27px;
    max-height: 2.875rem;
    background: transparent;
    text-decoration: none;
    transition: color 400ms;
    border-radius: 0.5rem;
}
.primary {
    background-color: var(--brand-blue);
    color: var(--container-color);
    transition: background 400ms;
}
.primary:active {
    background-color: var(--brand-blue-hover);
}
.disabled {
    background-color: var(--brand-blue-disabled);
    pointer-events: none;
}
.secondary {
    color: var(--brand-blue);
    border: 1px solid var(--brand-blue);
    transition: background-color 400ms, color 400ms;
    cursor: pointer;
    font-weight: 500;
}
.secondary:active {
    background-color: var(--brand-light-blue);
}
.tabs:hover :is(.icon path, p) {
    fill: var(--brand-blue);
    color: var(--brand-blue);
}
.tabs > p {
    margin: unset;
    transition: color 400ms;
}
.tabs > .icon {
    margin-right: 0.5rem;
}
.tabs > .icon path  {
    transition: fill 400ms;
}

/*Navbar styles*/

header  {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 1rem 1.5rem;
    font-weight: 500;
}
header > div {
    display: flex;
}
header > :nth-child(3) {
    justify-self: end;
}
.selected {
    background-color: var(--brand-light-blue);
}
.selected > svg path {
    fill: var(--brand-blue);
}
.selected > p {
    color: var(--brand-blue);
}

/*Mobile preview styles*/

.mobile-preview {
    padding: 6.34375rem 7.90625rem;
}
.mobile-container {
    width: 308px;
    height: 632px;
    background-image: url("../assets/images/illustration-phone-mockup.svg");
    padding: 3.99rem 0 0 0;
}
.profile-preview {
    width: 100%;
    height: 9.875rem;
    margin: 0 0 55.5px 0;
}
.img-container {
    width: 6.1rem;
    height: 6.1rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: 6.5625rem;
}
.img-container img {
    content: url("../assets/images/sample-profile.jpg");
    max-width: 100%;
}   
.profile-preview > .name {
    color: var(--background-color);
    font-size: 14px;
    font-weight: 600;
    margin: 1.3rem 0 0 5rem;
    max-height: 16px;
    max-width: 9.375rem;
    text-align: center;
}
.link-preview {
    width: 100%;
    height: 301px;
    overflow-y: hidden;
}
.mobile-link {
    height: 44.5px;
    width: calc(100% - 4.375rem);
    margin-left: 34.5px;
    border-radius: 0.5rem;
    margin-bottom: 19.5px;
    border: 2px solid var(--link-border-color);
    background-color: var(--background-color);
    color: var(--brand-light-blue);
    display: grid;
    grid-template-columns: 16px auto 16px;
    column-gap: 0.5rem;
    align-items: center;
    padding-inline: 1rem;
}
.mobile-link :is(object, p) {
    margin: unset;
}

/*Link section styles*/

.link-container {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
}
.link-container .title {
    margin: 0 2.5rem 2.5rem 2.5rem;
}
.link-container .title h1 {
    margin-bottom: 0.5rem;
}
.link-container > .button {
    width: calc(100% - 5rem);
    margin: 0 0 1.5rem 2.5rem;
}
.link-body {
    margin-inline: 2.5rem;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 0.75rem;
    padding-block: 3.90625rem;
    margin-bottom: 2.5rem;
}
.info > object {
    height: 10rem;
    width: auto;
    margin-bottom: 2.5rem;
}
.info > p {
    max-width: 30.5rem;
    margin-top: 1.5rem;
}
footer {
    margin-top: auto;
    border-top: 1px solid var(--brand-light-blue);
    display: flex;
    justify-content: end;
    padding: 1.5rem 2.5rem 1.5rem 0;
    font-weight: 600;
}
.link {
    padding: 1.25rem;
    background-color: var(--background-color);
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
}
.link > * {
    margin-bottom: 0.75rem;
}
.link > header {
    grid-template-columns: 0.75rem auto 1fr;
    align-items: center;
    column-gap: 0.5rem;
    padding: unset;
}
.link > header > button {
    background-color: var(--background-color);
    border: unset;
    color: var(--brand-light-blue);
    font-size: 1rem;
    cursor: pointer;
}
.link-input {
    display: flex;
    flex-direction: column;
}
.link-input > label {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}
.url-div {
    position: relative;
}
.url-div::after {
    position: absolute;
    content: url("../assets/images/icon-link.svg");
    top: 0.85rem;
    left: 1rem;
}
.link-input .platform-url {
    background-color: var(--container-color);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    color: var(--brand-light-blue);
    font-size: 1rem;
    width: 100%;
    padding-left: 2.5rem;
    max-height: 3rem;
}
.platform-url:focus {
    border: 1px solid var(--brand-blue);
    outline: unset;
}
/* Combobox styles */
.custom-select {
    position: relative;
}
.custom-select select {
    display: none; /*hide original select element */
}
/* Style the arrow inside the select element */
.select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
/* Point the arrow upwards when the select box is active */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 14px;
}
/* style the items including the selected item */
.select-items > div, .select-selected {
    color: var(--brand-light-blue);
    padding: 0.75rem 1rem;
    cursor: pointer;
    background-color: var(--container-color);
}
.select-items > div > div, 
.select-selected > div {
    display: flex;
    align-items: center;
}
.select-selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    max-height: 3rem;
}
.blue-border {
    border: 1px solid var(--brand-blue);
}
.select-items > div {
    border-left: 1px solid var(--brand-light-blue);
    border-right: 1px solid var(--brand-light-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Style items (options): */
.select-items {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    z-index: 1;
    appearance: none;
    outline: 0;
    font: inherit;
    width: 100%;
    max-height: 3rem;
    color: var(--brand-light-blue);
    border-radius: 0.5rem;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.select-items > :first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-top: 1px solid var(--brand-light-blue);
}
.select-items > :last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom: 1px solid var(--brand-light-blue);
}
/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
    border: none;
}
.select-items div:hover, .same-as-selected {
    color: var(--brand-blue);
} 
.select-items svg, .select-selected svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    pointer-events: none; 
}
/* Hover effect for SVGs */
.select-items > div:hover svg path {
    fill: var(--brand-blue);
}